<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>.</p>
    <% if (errors) { %>
        <% include ../partials/errors %>
    <% } %> 
    <div>
        <form method='POST' action='/players/<%= player._id %>' enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_method" value="put">
            <% include ../partials/playerForm %>
            <input type="submit" value="Edit Player">
        </form>
    </div>
</body>

</html>