<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<% if (user) { %>
	<div>
		<span>Welcome, <%= user.username %></span>
	</div>
	<% } %>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	<p>Have an account? <a href="auth/login">Login here.</a></p>
	<p>Don't have one? <a href="auth/register">Register here.</a></p>
</body>

</html>